<div class="wrapper">
  <div class="navigationDesktop">
    <nav>
      <div>
        <input type="text" placeholder="Rechercher un événement" />
        <button>Rechercher</button>
      </div>

      <ul>
        <li><a href="/">Accueil</a></li>
        <li>
          <a href="/agenda" class="">agenda</a>
          <ul>
            <li><a href="/agenda/cinema">Cinéma</a></li>
            <li><a href="/agenda/spectacle">Spectacle</a></li>
            <li>
              <a href="/agenda/rencontre">Rencontre</a>

              <ul>
                <li><a href="/agenda/cinema">a deux</a></li>
                <li><a href="/agenda/spectacle">en groupe</a></li>
                <li><a href="/agenda/rencontre">autre ...</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li><a href="#">Link 3</a></li>
        <li><a href="#">Link 4</a></li>
        <li><a href="/register">register</a></li>
        <li><a href="/random">RANDOM</a></li>
      </ul>
    </nav>
  </div>
</div>
