<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">

<welcome-file-list>
	<welcome-file>_index.jsp</welcome-file>	
</welcome-file-list>
<filter>
    <filter-name>UrlRewriteFilter</filter-name>
    <filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
</filter>
<jsp-config>
	 <taglib>
	 	<taglib-uri>/tags/mytld</taglib-uri>
	 	<taglib-location>/WEB-INF/mytld.tld</taglib-location>
	 </taglib>
</jsp-config>
<filter-mapping>
    <filter-name>UrlRewriteFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
</filter-mapping>
</web-app>