<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">

<welcome-file-list>
	<welcome-file>_index.jsp</welcome-file>	
</welcome-file-list>

<jsp-config>
	 <taglib>
	 	<taglib-uri>/tags/mytld</taglib-uri>
	 	<taglib-location>/WEB-INF/mytld.tld</taglib-location>
	 </taglib>
</jsp-config>

<filter>
	<filter-name>UrlRewriteFilter</filter-name>
	<filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
	<init-param>
		<param-name>logLevel</param-name>
		<param-value>INFO</param-value>
	</init-param>
	<init-param>
        <param-name>confReloadCheckInterval</param-name>
        <param-value>60</param-value>
    </init-param>
</filter>

<filter-mapping>
    <filter-name>UrlRewriteFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
</filter-mapping>

</web-app>
