@charset "ISO-8859-15";


#header
{
	height: 150px;
	clear:both;
	background:#0080c0;
	
	overflow visible;
}


#header>div:first-child
{
	
	clear:both;
	margin:0px 10px 0px 10px;
	padding: 20px 0px;
	font-size:2.2em;
	text-align:center;
	
}

#header>div[id="connexion"]
{
	
	display: block;
	position: fixed;
	right:10px;
	top:10px;
	width: 400px;
	height:200;
	float: right;
	
}

form
{
	display: block;
	width: 200px;
	margin: 1px auto;
	background: #ccc;	
}

